[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bulma = "*"
django-bootstrap = "*"
psycopg2 = "*"
python-decouple = "*"
pillow = "*"
django-tinymce = "*"
django-vote = "*"
django-heroku = "*"
django-registration = "==2.4.1"
django-urls = "*"
django-utils-six = "*"
django-bootstrap4 = "*"
whitenoise = "*"
dj-database-url = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
